# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
integration-tests/gatsby-cli/execution-folder/*
*.un~
dist
bin/published.js